body {
  background-color: black;
}

.card-wrapper {
  margin-bottom: 16px;
}

.language-switch {
  text-align: right;
  background-color: #fff;
  padding: 15px 15px 0 0;
}

.contact-info {
  margin: 15px 20px 0 30px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.icon {
  text-align: center;
  color: black;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

.icon:hover {
  color: black;
  opacity: 0.8;
}

.carousel {
  height: 75%;
}
/*
.section-one {
  background-image: url(images/standing-bw.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 460px;
  position: relative;
}

 <div class="contact-info">
      <span>
<a href="https://www.instagram.com/shymanska.daria/" target="_blank" class="icon me-3"><i class="fa-brands fa-instagram"></i></a>
<a href="https://www.facebook.com/profile.php?id=100006714827325

" target="_blank" class="icon me-3"><i class="fa-brands fa-facebook"></i></a>
<a href="https://web.telegram.org/z/#420301085" target="_blank" class="icon"><i class="fa-brands fa-telegram"></i></a>
      </span> 
      <span> 📞 +380993581436</span>
    </div>
*/

.text-wrapper {
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 60px;
}
.about-me {
  text-align: justify;
  color: white;
}
.main-info {
  padding: 10px 0 40px 30px;
  font-family: "Abril Fatface", cursive;
  color: black;
  text-align: center;
  text-shadow: 1px 1px black;
  background-color: white;
}

.section-two {
  margin-top: 130px;
}

.card-text {
  text-align: justify;
}

.btn {
  color: white;
  background-color: black;
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: black;
  opacity: 0.8;
  border: 1px solid black;
}

footer {
  text-align: center;
  color: white;
  margin: 150px 0 90px 0;
}

footer .icon {
  color: white;
}
.lazyloaded {
  width: 75%;
}

.text-center {
  padding: 20px 0 10px 0;
}
